

.places{
    font-size: medium;
    padding: .5rem;
    font-weight: bold;
}
.places:hover{
    background-color: rgb(123, 127, 244);
    color:white;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
    transform: rotate(-3deg);
    border-radius: 10px;
}
.screen1{
    background-color: rgb(153, 172, 237);
}

/* .navbar{
    background-color: blue;
} */